h1{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
#calculator{
    background: #143454;
    text-align: center;
    width: 450px;
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
}
#display{
    background: #e2e1e1;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-family: 'Share Tech Mono', monospace;
}
#results{
    text-align: right;
    height: 100px;
    font-size: 24px;
    padding: 30px 10px 10px 10px;
}
#keyboard{
    margin: 15px;
}